/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {

  body{
    background-color: rgb(8, 1, 1);
  }

  .page_contain{

    background-color: rgb(8, 1, 1);
    height: 100%;

    .topnav {
      overflow: hidden;
      display: flex;
      justify-content: center;

    }

    .topnav a{

      overflow: hidden;
      display: flex;

      padding-left: 30px;
      padding-right: 30px;
      padding-top: 26px;
      padding-bottom: 26px;

      justify-content: space-between;
      color: #f2f2f2;
      text-align: center;
      
      text-decoration: none;
      font-size: 49px;
      font-family: 'Open Sans', sans-serif;
  
      background-color: rgb(8, 1, 1);
      border-style: none;
    }

    .topnav a.active {
      color: greenyellow;
      text-decoration: underline;
      text-decoration-color: greenyellow;
      text-underline-offset: 5px;
      font-weight: 700;
    }

    .Home{
      .hero{
        padding-top: 300px;

        font-family: 'Open Sans', sans-serif;
        color: #f2f2f2;
        margin-top: 4%;
        margin-bottom: 0%;
        text-align: center;

        .profile_img{
          width: 600px;
          height:600px;
        }

        .Intro{
          font-size:64px;
          padding-top: 20px;
        }

        .JobProfile{
          font-size:46px;
          padding-top: 20px;
        }
      }

      .quote{
        color: white;
        text-align: center;
        
        blockquote::before {
          content: open-quote;
        }
        blockquote::after {
          content: close-quote;
        }
        blockquote {
          quotes: "“" "”" "‘" "’";
        }
  
        font-size: 33px;
      }

    }

    .contact{
      font-family: 'Open Sans', sans-serif;
      color: #f2f2f2;

      margin-top: 20%;
      margin-bottom: 4%;
      
      text-align: left;

      .contact-heading {
          font-size: 65px;
          margin-top: 7%;
          margin-bottom: 2%;
      }

      .social-media-heading {
          font-size: 55px;
          margin-top: 7%;
          margin-bottom: 2%;
      }

      .email-heading{
          font-size: 55px;

          margin-top: 7%;
          margin-bottom: 2%;
      }

      .contact-content{
        margin-top: 7%;
        margin-bottom: 2%;
          font-size: 45px;
      }

      .social-media-content{
        margin-top: 3%;
        margin-bottom: 2%;
          font-size: 45px;
      }

      .email-content{
        margin-top: 7%;
        margin-bottom: 2%;
          font-size: 45px;
      }

      .social-media-image{
          text-align: center;

          .linkedin{
              padding-left: 4%;
              padding-right: 10%;
          }

          .twitter{
              padding-right: 10%;
          }
      }
  
    }

    .AboutMe{
      font-family: 'Open Sans', sans-serif;
      color: #f2f2f2;
      text-align: left;

      padding-top: 100px;
      padding-left: 1%;
      padding-right: 1%;
      font-size: 40px;

      .intro{
        padding-top: 3%;
        padding-bottom: 3%;
      
      }

      .list-view{
        padding-top: 4%;
        padding-bottom: 1%;

        .list-view-heading{
          font-size: 55px;
        }
      }

      .about-me{
        padding-top: 4%;

        .about-me-heading{
          font-size: 55px;
        }
      }

      .intrest{
        padding-top: 4%;

        .intrest-heading{
          font-size: 55px;
        }
      }

      .work{
        padding-top: 4%;

        .work-heading{
          font-size: 55px;
        }
      }

      .end-note{
        padding-top: 6%;
      }
    }
   
    .blog{
        
      font-family: 'Open Sans', sans-serif;
      color: #f2f2f2;
      text-align: center;

      border:  4px;
      border-color: white;

      .blog-list{

        .blog-list-box{

          box-shadow: 1px 1px 1px 1px rgb(255, 255, 255), 0px 0px 0px 0px rgb(255, 255, 255);
          padding-top: 1%;
          padding-bottom: 1%;
          margin-top: 1%;
          margin-bottom: 4%;
          padding-left: 1%;
          padding-right: 1%;
          cursor: pointer;

          .blog-heading{
            color: #fff;
            text-align: left;
            font-size: 55px;
            
          }

          .blog-info{
            color: rgba(200, 198, 198, 0.662);
            text-align: left;
            font-size: 33px;
            padding-top: 1%;
          }
          border:  4px;
          border-color: white;
        }
      }

      .article{
        text-align: left;
        font-size: 55px;

        border:  4px;
        border-color: white;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        code{
          text-align: center;
        }
      }
    }

  }
}


/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {

  body{
    background-color: rgb(8, 1, 1);
  }

  .page_contain{

      background-color: rgb(8, 1, 1);

      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      
      .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;

      }

      .topnav a{

        padding: 15px 40px;

        display: flex;
        justify-content: space-between;
        color: #f2f2f2;
        text-align: center;
        
        text-decoration: none;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
    
        background-color: rgb(8, 1, 1);
        border-style: none;
  
      }

      .topnav a.active {
        color: greenyellow;
        text-decoration: underline;
        text-decoration-color: greenyellow;
        text-underline-offset: 5px;
        font-weight: 700;
      }


      .Home{
        .hero{
          padding-top: 0px;
          font-family: 'Open Sans', sans-serif;
          color: #f2f2f2;
          margin-top: 2%;
          margin-bottom: 0%;
          text-align: center;

          .profile_img{
            width:400px;
            height:400px;
          }
          .Intro{
            font-size:37px;
            padding-top: 2px;
          }
  
          .JobProfile{
            font-size:30px;
          }
  
        }

        .quote{
          color: white;
          text-align: center;
          
          blockquote::before {
            content: open-quote;
          }
          blockquote::after {
            content: close-quote;
          }
          blockquote {
            quotes: "“" "”" "‘" "’";
          }

          font-size: 15px;
        }

      }

      .contact{

        font-family: 'Open Sans', sans-serif;
        color: #f2f2f2;
        margin-top: 4%;
        margin-bottom: 0%;
        
        text-align: left;

        .contact-heading {
            font-size: 55px;
        }

        .social-media-heading {
            font-size: 35px;
        }

        .email-heading{
            font-size: 35px;
        }

        .contact-content{
            margin-top: 4%;
            margin-bottom: 4%;
            font-size: 20px;
        }

        .social-media-content{
            margin-top: 2%;
            margin-bottom: 2%;
            font-size: 20px;
        }

        .email-content{
            margin-top: 2%;
            margin-bottom: 2%;
            font-size: 20px;
        }

        .social-media-image{
            text-align: center;

            .linkedin{
                padding-left: 4%;
                padding-right: 10%;
            }

            .twitter{
                padding-right: 10%;
            }
        }
    
      }

      .AboutMe{
        font-family: 'Open Sans', sans-serif;
        color: #f2f2f2;
        text-align: left;

        padding-top: 0px;
        padding-left: 0%;
        padding-right: 0%;

        .intro{
          padding-top: 1%;
          padding-bottom: 0%;
        
        }

        .list-view{
          padding-top: 0%;
          padding-bottom: 0%;

          .list-view-heading{
            font-size: 27px;
          }
        }

        .about-me{
          padding-top: 0%;

          .about-me-heading{
            font-size: 27px;
          }
        }

        .intrest{
          padding-top: 0%;

          .intrest-heading{
            font-size: 27px;
          }
        }

        .work{
          padding-top: 0%;

          .work-heading{
            font-size: 27px;
          }
        }

        .end-note{
          padding-top: 1%;
        }
      }

      .blog{
        
        font-family: 'Open Sans', sans-serif;
        color: #f2f2f2;
        text-align: center;
  
        .blog-list{
  
          .blog-list-box{
  
            box-shadow: 1px 1px 1px 1px rgb(255, 255, 255), 0px 0px 0px 0px rgb(255, 255, 255);
            padding-top: 1%;
            padding-bottom: 1%;
            margin-top: 1%;
            margin-bottom: 4%;
            padding-left: 1%;
            padding-right: 1%;
            cursor: pointer;
  
            .blog-heading{
              color: #fff;
              text-align: left;
              font-size: 25px;
              
            }
  
            .blog-info{
              color: rgba(200, 198, 198, 0.662);
              text-align: left;
              font-size: 11px;
              padding-top: 1%;
            }
  
          }
        }
  
        .article{
          text-align: left;
          font-size: 19px;
          padding-bottom: 1%;

  
          img {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
  
          code{
            text-align: center;
          }
        }
      }
  }
}
