body{
    background-color: rgb(8, 1, 1);
  }
.page_contain{
      width: 70%;
      background-color: rgb(8, 1, 1);
      margin-left: 15%;
      margin-right: 15%;
      border: 1px;
      border-style: dashed;
      border-color: #f2f2f2;
     
    
      .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;
  
        border: 1px;
        border-style: dashed;
        border-color: #f2f2f2;
      }
      
  
      .topnav a {
        display: flex;
        justify-content: space-between;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
    
        background-color: rgb(8, 1, 1);
        border-style: none;
  
        border: 1px;
        border-style: dashed;
        border-color: #f2f2f2;
      }
      
      .topnav a.active {
        color: greenyellow;
        text-decoration: underline;
        text-decoration-color: greenyellow;
        text-underline-offset: 5px;
      }
    
      .blog{
        
        font-family: 'Open Sans', sans-serif;
        color: #f2f2f2;
        text-align: center;

        .blog-list{

          .blog-list-box{

            box-shadow: 1px 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px 1px rgb(255, 255, 255);
            padding-top: 1%;
            padding-bottom: 1%;
            margin-top: 1%;
            margin-bottom: 4%;
            padding-left: 1%;
            padding-right: 1%;

            .blog-heading{
              color: #fff;
              text-align: left;
              font-size: 25px;
              
            }

            .blog-info{
              color: rgba(200, 198, 198, 0.662);
              text-align: left;
              font-size: 11px;
              padding-top: 1%;
            }

          }
        }
      }
    
    
}
    
    